table, th, td {
  border: 1px solid black;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin-left:auto;
  margin-right:auto;
  width: 80%;
}

th {
  height: 50px;
}

.innerTable  {
  width: 100%;
  border-style: hidden;
  border-bottom: 1px solid black;
}

.secretKeyForm {
  margin-left: 10%;
  margin-top: 10px;
}

.blueButton {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 4px 4px;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.blueButton:hover {
  background-color: #008CBA;
  color: white;
}

.blueButton:disabled,
.blueButton[disabled]{
  cursor:not-allowed !important;
}

.textInput {
  padding: 4px 4px;
}
